<div id="stack-box">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-content">
                <div class="least-content"></div>
                <h4 id="text-stack-id" class="list-group-item-heading">Stack 5</h4>

                <p id="text-stack-range" class="list-group-item-text">PQ31 - PR56</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-content">
                <div class="least-content"></div>
                <h4 id="text-stack-topic" class="list-group-item-heading">French literature - Italian literature - Spanish literature</h4>

                <p id="text-stack-topic-more" class="list-group-item-text">English literature</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-content">
                <div class="least-content"></div>
                <h4 class="list-group-item-heading">Search this floor</h4>

                <div class="form-group label-placeholder">
                    <label for="input-locate-stack" class="control-label">type in a call number</label>
                    <input type="text" class="form-control" id="input-locate-stack">
                </div>
            </div>
        </div>
    </div>
</div>
