<h1 class="center">I don't know how to use space efficiently.</h1>
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card large">
            <div class="card-image">
                <img src="assets/2016_0007_119_select.jpg">
                <span class="card-title">Stack Map</span>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Call Number" id="call-number" type="text" class="validate">
                        <label for="call-number">e.g. PN2924.2 .K65 2010</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Library ID" id="library-id" type="text" class="validate">
                        <label for="library-id">e.g. 1 - Kroch</label>
                    </div>
                </div>
                <pre>Jason Koski / Cornell Marketing Group</pre>
            </div>
            <div class="card-action">
                <a href="javascript:void(0)" id="btn-book-find">Find</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card large">
            <div class="card-image">
                <img src="assets/2015_0795_015_select.jpg">
                <span class="card-title">Map Editor</span>
            </div>
            <div class="card-content">
                <pre>Lindsay France / Cornell Marketing Group</pre>
            </div>
            <div class="card-action">
                <a href="/editor">Get Access</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card large">
            <div class="card-image">
                <img src="assets/2015_0602_015_select.jpg">
                <span class="card-title">API</span>
            </div>
            <div class="card-content">
                <pre>Jason Koski / Cornell Marketing Group</pre>
            </div>
            <div class="card-action">
                <a href="/docs/">Docs</a>
            </div>
        </div>
    </div>
</div>
